$primary: #1f3245;
$linkColor: lighten($primary, 20%);
$linkInteract: lighten($linkColor, 20%);
$pageBg: #f9f9f9;

$lightColor: #e9f3db;
$mediumestColor: #666;
$mediumColor: #0c4359;
$darkColor: #a0cc47;
$darkestColor: #1f3245;
$blueColor: #61dafb;
$orangeColor: complement($blueColor);
$navColor: #1f3245;
$navCurrent: #798490;

$lightTextColor: #fafafa;
$mediumTextColor: #aaa;
$darkTextColor: $mediumColor;

$buttonBlueTop: #77a3d2;
$buttonBlueBottom: #4783c2;
$buttonGreyTop: #9a9a9a;
$buttonGreyBottom: #646464;

$buttonColor: #1f3245;

